@charset "UTF-8";

body {
    background-color: darkgray;
}

.conteiner {
    border: 2px black solid;
    margin: 6rem 12rem 6rem 12rem;
    padding: 100px;
    background-color: rgba(240, 248, 255, 0.419);
}

h1 {
    font-size: 50px;
    color: rgb(128, 58, 212);
    border-bottom: 1px solid black;
}

.h1_02 {
    font-size: 40px;    
}

p {
    word-spacing: 3px;
    font-size: 20px;
    line-height: 27px;
    text-indent: 20px;
}

.top {
    margin-top: 30px;
}

.nav {
    background-color: rgb(220, 220, 220);
    padding: 6px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    /* margin: 5px; */
    font-size: 12px;
    width: 2px;
    border-bottom: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
}

.nav:hover {
    background: white;
    color: #6f00ff;
}

h2.texto {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.space_list {
    font-size: 20px;
    margin: 40px;
}

.space {
    margin: 5em 16em 10px 40px;
}

#right {
    float: right;
    margin: 60px;
}

.btn {
    background-color: rgb(116, 40, 191);
    color: rgb(255, 255, 255);
    text-decoration: none;
    /* margin: 5px; */
    font-size: 18px;
    border: 2px solid black;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
    margin-top: 15px;
}

.contato_container {
    background-color: #8f5fce;
    padding: 22px;
    color: aliceblue;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 60px;
    width: 10cm;
    float: left;
}

.contato_container_2 {
    background-color: #8f5fce;
    padding: 22px;
    color: aliceblue;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 60px;
    width: 10cm;
    float: right;
}

.contato {
    background-color: #8f5fce;
    padding: 10px;
    color: aquamarine;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 21px;
}

.contato {
    background-color: #8f5fce;
    padding: 10px;
    color: aquamarine;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 21px;
}

.contato:hover {
    color: blue;
}

.contato:active {
    color: aliceblue;
}
