.conteudo-container {
    margin: 20px;
  }
  
  article {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  h2 {
    color: #333;
  }
  
  div {
    margin-top: 10px;
  }
  
  p {
    font-weight: bold;
  }
  
  button {
    margin-right: 10px;
    cursor: pointer;
  }
  
  