.container {
    width: 80%;
    margin: auto;
}

ul {
    list-style-type: none;
    padding: 3px;
}

li {
    float: left;
    width: 30%;
    background-color: lightblue;
    margin: 1%;
    padding: 1%;
}

li:first-child {
    background-color: lightgreen;
}

li:nth-child(odd) {
    background-color: lightcoral;
}

li:nth-child(even) {
    background-color: lightgoldenrodyellow;
}

li:hover {
    background-color: lightpink;
}

li:active {
    background-color: lightskyblue;
}

li::before {
    content: '-> ';
}

li::after {
    content: ' <-';
}

li:first-child::before {
    content: '';
}

li:last-child::after {
    content: '';
}